{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header class="main-header">

    <div class="logo">
        {{#if @blog.cover}}<img src="{{@blog.cover}}" />{{/if}}
        <div class="rebranding">
            <div class="word">anarchist</div>
            <div class="description">
            a person who believes progress can be found in disorder <br />
            a person who advocates voluntary cooperation
            </div>
        </div>
    </div>

    <nav class="index-main-nav">
      <a class="button" href="{{@blog.url}}/about">about</a>
      <a class="button" href="{{@blog.url}}/contact">contact</a>
      <a class="button" href="https://twitter.com/emilcardell">twitter</a>
      <a class="button" href="https://www.linkedin.com/in/emilcardell">linked in</a>
    </nav>


    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

{{! The main content area on the homepage }}
<main id="content" class="content post-list" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>

<footer class="site-footer-index">
  <section class="copyright">&copy; Emil Cardell {{date format="YYYY"}}</section>

    <div class="footer-content">
      <p>
      If you have any questions about this blog or me, Emil Cardell, start by visiting the <a href="/about">about page</a> or feel free to send me <a href="mailto:blog+emil.cardell@gmail.com">e-mail.</a></p>
      </p>
      <p>
      Opinions expressed, by me, on this site are my personal opinions and not necessarily shared by my employer.
      </p>

      <p>
      All blog posts on this blog is licensed under <a href="http://creativecommons.org/licenses/by-sa/4.0/">Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)</a>
      </p>

      </div>

</footer>
